<ion-grid style="font-size: 0.8em">
  <ion-row class="ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <ion-text color="medium">
        <ion-icon size="small" name="mail"></ion-icon> &nbsp;
        info@covidografia.pt
      </ion-text>
    </ion-col>
    <ion-col class="ion-text-center" size="12">
      <ion-text color="medium">
        {{ 'TERMOS E CONDIÇÕES' | translate | titlecase }} |
        {{ 'POLÍTICA DE
        PRIVACIDADE' | translate | titlecase }}
      </ion-text>
    </ion-col>
    <ion-col class="ion-text-center" size="12">
      <ion-text color="medium">
        {{ 'ELIMINAR CONTA' | translate | titlecase }}
      </ion-text>
    </ion-col>
    <ion-col class="ion-padding ion-text-center" size="12">
      <ion-text color="orange">
        {{ 'Log Out' | translate | titlecase }}
      </ion-text>
    </ion-col>
  </ion-row>
</ion-grid>