<ion-grid *ngIf="caseConditions | async as caseConditions">
  <ion-row>
    <ion-col size="12">
      <ion-row *ngIf="caseConditions[0] as c" class="symptomsCard">
        <ion-col class="ion-padding" size="6">
          <ion-text style="font-size: 2em;">
            <ion-spinner *ngIf="c.status < 0"></ion-spinner>
            {{ c.status < 0 ? '' : c.status }}</ion-text
          >
          <br />
          <ion-text style="font-size: 0.9rem; font-weight: bold;">{{
            c.status_text | translate | titlecase
          }}</ion-text>
        </ion-col>
        <ion-col class="ion-padding ion-text-end" size="6">
          <img src="assets/img/illustrations/dashboard/user-orange.svg" />
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col
      *ngFor="let condition of caseConditions?.slice(1, caseConditions?.length)"
      size="6"
    >
      <ion-row [class]="decideClass(condition)">
        <ion-col class="ion-padding" size="6">
          <ion-text style="font-size: 2em;">
            <ion-spinner *ngIf="condition.status < 0"></ion-spinner>
            {{ condition?.status < 0 ? '' : condition.status }}</ion-text
          >
          <br />
          <ion-text style="font-size: 0.9rem; font-weight: bold;">{{
            condition?.status_text | translate | titlecase
          }}</ion-text>
        </ion-col>
        <ion-col class="ion-padding ion-text-end" size="6">
          <img src="assets/img/illustrations/dashboard/heart.svg" />
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
