<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" (click)="facebookLogin()">
    Facebook login
  </ion-button>

  <ion-button size="small" expand="full" (click)="logoutFacebook()">
    logoutFacebook
  </ion-button>

  <ion-button size="small" expand="full" (click)="getCurrentAccessToken()">
    getCurrentAccessToken
  </ion-button>

  <ion-input [(ngModel)]="webToken">Web token</ion-input>
  <ion-button expand="full" (click)="webTestLogin()">
    Submit web token
  </ion-button>
</ion-content>
<ion-footer>
  <ion-button
    expand="full"
    class="ion-no-padding ion-no-margin"
    (click)="testCleanAll()"
  >
    Test clean all
  </ion-button>
</ion-footer>
