<ion-content fullscreen="true" scroll-y="false">
  <img
    class="ion-no-padding ion-no-margin"
    style="width: 100%;"
    src="assets/img/illustrations/login/background-mobile.svg"
  />
  <ion-input
    class="ion-text-center"
    [(ngModel)]="webToken"
    placeholder="Web token"
  ></ion-input>
  <ion-button size="small" fill="clear" expand="full" (click)="webTestLogin()">
    Manually set web token
  </ion-button>
</ion-content>
<ion-footer>
  <ion-button
    shape="round"
    expand="full"
    class="ion-no-padding ion-no-margin"
    (click)="facebookLogin()"
  >
    <ion-icon slot="start" name="logo-facebook"></ion-icon>
    Facebook login
  </ion-button>
  <ion-button
    expand="full"
    fill="clear"
    class="ion-no-padding ion-no-margin"
    (click)="testCleanAll()"
  >
    Test clean all
  </ion-button>
</ion-footer>
