<ion-header class="ion-no-border" mode="md" [translucent]="true">
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="share()" fill="clear">
        <img src="assets/img/share.svg" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row *ngIf="user | async as user" class="ion-no-padding ion-no-margin">
      <ion-col class="ion-no-padding ion-text-start" size="6">
        <ion-button
          size="large"
          color="light"
          expand="full"
          style="font-size: 0.9em;"
        >
          <ion-icon
            slot="start"
            [style]="'color: ' + decideColor(1, user)"
            name="radio-button-on"
          ></ion-icon>
          <ion-text color="medium">
            {{'SEM SINTOMAS' | translate | titlecase }}
          </ion-text>
        </ion-button>
      </ion-col>
      <ion-col class="ion-no-padding" size="6">
        <ion-button
          size="large"
          color="light"
          expand="full"
          style="font-size: 0.9em;"
        >
          <ion-icon
            slot="start"
            [style]="'color: ' + decideColor(2, user)"
            name="radio-button-on"
          ></ion-icon>
          <ion-text color="medium">
            {{'AFASTAMENTO SOCIAL' | translate | titlecase }}
          </ion-text>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button
          routerDirection="forward"
          [routerLink]="'/change-state-step1'"
          color="orange"
          shape="round"
          expand="full"
        >
          <ion-text style="color: white;">
            {{'ATUALIZAR O MEU ESTADO' | translate | titlecase }}
          </ion-text>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col *ngIf="caseConditions | async as caseConditions" size="9">
        <ion-text color="dark">
          <strong
            >{{'ESTADO NA MINHA ÁREA' | translate | titlecase }}</strong
          > </ion-text
        ><br />
        <ion-text style="font-size: 0.8em;" color="medium">
          {{('BASEADO NA INFORMAÇÃO DE ' | translate | titlecase)}}
        </ion-text>
        <ion-text style="font-size: 0.8em;" color="medium">
          <span *ngIf="numConditions(caseConditions) > -1">
            {{numConditions(caseConditions)}}
          </span>
          <ion-spinner
            style="font-size: 0.8em;"
            *ngIf="numConditions(caseConditions) < 0"
          ></ion-spinner>
          {{(' UTILIZADOR' | translate | titlecase) +
          (numConditions(caseConditions) != 1 ? ('ES' | translate | lowercase) :
          '')}}
        </ion-text>
      </ion-col>
      <ion-col size="3">
        <ion-button
          *ngIf="user | async as user"
          expand="full"
          fill="clear"
          (click)="openPostalCode()"
        >
          <ion-icon slot="start" name="pin"></ion-icon>
          <ion-spinner *ngIf="user?.postalcode?.length < 1"></ion-spinner>
          <span *ngIf="user?.postalcode?.length > 0">
            {{ user?.postalcode?.slice(0, 4)}}
          </span>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-conditions></app-conditions>

  <app-confinement></app-confinement>
  <app-home-footer></app-home-footer>
</ion-content>
