<ion-header class="ion-no-border" mode="md" [translucent]="true">
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <img src="assets/img/share.svg" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row class="ion-no-padding ion-no-margin">
      <ion-col class="ion-no-padding ion-text-start" size="6">
        <ion-button
          size="large"
          color="light"
          expand="full"
          style="font-size: 0.9em;"
        >
          <ion-icon
            slot="start"
            color="success"
            name="radio-button-on"
          ></ion-icon>
          <ion-text color="medium">
            {{'SEM SINTOMAS' | translate | titlecase }}
          </ion-text>
        </ion-button>
      </ion-col>
      <ion-col class="ion-no-padding" size="6">
        <ion-button
          size="large"
          color="light"
          expand="full"
          style="font-size: 0.9em;"
        >
          <ion-icon
            slot="start"
            color="success"
            name="radio-button-on"
          ></ion-icon>
          <ion-text color="medium">
            {{'AFASTAMENTO SOCIAL' | translate | titlecase }}
          </ion-text>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button
          routerDirection="forward"
          [routerLink]="'/change-state-step1'"
          color="orange"
          shape="round"
          expand="full"
        >
          <ion-text style="color: white;">
            {{'ATUALIZAR O MEU ESTADO' | translate | titlecase }}
          </ion-text>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col size="9">
        <ion-text color="dark">
          <strong
            >{{'ESTADO NA MINHA ÁREA' | translate | titlecase }}</strong
          > </ion-text
        ><br />
        <ion-text
          *ngIf="caseConditions | async as caseConditions"
          style="font-size: 0.8em;"
          color="medium"
        >
          {{('BASEADO NA INFORMAÇÃO DE ' | translate | titlecase) +
          numConditions(caseConditions) + (' UTILIZADORES' | translate |
          titlecase) }}
        </ion-text>
      </ion-col>
      <ion-col size="3">
        <ion-button
          *ngIf="caseConditions | async as caseConditions"
          expand="full"
          fill="clear"
        >
          <ion-icon slot="start" name="pin"></ion-icon>
          {{getPostalCode(caseConditions)}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-conditions
    *ngIf="caseConditions | async as caseConditions"
    [caseConditions]="caseConditions"
  ></app-conditions>

  <app-confinement
    *ngIf="caseConfinements | async as caseConfinements"
    [caseConfinements]="caseConfinements"
  ></app-confinement>
  <app-home-footer></app-home-footer>
</ion-content>
