<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Código Postal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="user | async as user">
    <ion-row *ngIf="user?.postalcode">
      <ion-col size="12">
        <form
          class="modal-content"
          [class.closing]="closing"
          [formGroup]="form"
          (ngSubmit)="onSubmit(user)"
          novalidate
        >
          <section class="row label" fxLayout="row">
            <img
              class="image"
              alt="marker"
              src="assets/img/icons/contact.svg"
            />
            <span>Insira o seu ano de nascimento</span>
          </section>
          <section class="row field-container post-code" fxLayout="row">
            <input
              formControlName="birth-year"
              type="number"
              pattern="[0-9]{4}"
              onKeyPress="if(this.value.length==4) return false;"
              (keypress)="keyPressNumber($event)"
              inputmode="numeric"
              placeholder="- - - -"
              [class.inputError]="submitted && birthYearControl.errors"
            />
            <div
              *ngIf="submitted && birthYearControl.errors"
              class="error-notice"
            >
              <span *ngIf="birthYearControl.errors.required"
                >Campo obrigatório!</span
              >
              <span
                *ngIf="birthYearControl.errors.min || birthYearControl.errors.max"
                >Campo inválido!</span
              >
            </div>
          </section>

          <section class="row label" fxLayout="row">
            <img class="image" alt="marker" src="assets/img/icons/marker.svg" />
            <span>Insira o seu código postal</span>
          </section>
          <section class="row field-container post-code" fxLayout="row">
            <div class="post-code-section">
              <input
                class="frist-type-number"
                formControlName="zip-code-1"
                type="number"
                pattern="[0-9]{4}"
                onKeyPress="if(this.value.length==4) return false;"
                (keypress)="keyPressNumber($event)"
                inputmode="numeric"
                placeholder="- - - -"
                [class.inputError]="submitted && zipCode1Control.errors"
              />
              <img
                class="image"
                src="assets/img/icons/post-code-divider.svg"
                alt="post-code-divider"
              />
              <input
                class="second-type-number"
                formControlName="zip-code-2"
                type="number"
                pattern="[0-9]{0,3}"
                onKeyPress="if(this.value.length==3) return false;"
                (keypress)="keyPressNumber($event)"
                inputmode="numeric"
                placeholder="- - -"
                [class.inputError]="submitted && zipCode2Control.errors"
              />
            </div>
            <div
              *ngIf="submitted && (zipCode1Control.errors || zipCode2Control.errors)"
              class="error-notice"
            >
              <span>Campo obrigatório!</span>
            </div>
          </section>

          <section class="row label codigrafia-code" fxLayout="row">
            <img class="image" alt="marker" src="assets/img/icons/marker.svg" />
            <span
              >Se tem um código indicado pelas autoridades preencha aqui.</span
            >
          </section>
          <section
            class="row field-container post-code covidografia"
            fxLayout="row"
          >
            <input
              formControlName="covidografia-code"
              type="text"
              pattern="[0-9A-Z]{10}"
              maxlength="10"
              placeholder="- - - - - - - -"
              (keypress)="keyPress($event)"
              [class.inputError]="submitted && covidografiaCodeControl.errors"
            />
            <div
              *ngIf="submitted && covidografiaCodeControl.errors"
              class="error-notice"
            >
              <span>Código inválido. Verifique o seu código!</span>
            </div>
          </section>
          <section class="codigrafia-code-label">
            <span>* Se não tem um código pode avançar sem preencher</span>
          </section>

          <section class="row btns" fxLayout="row">
            <button class="btn-go-foward" type="submit">Avançar</button>
          </section>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
